/* jumbo */
.jumbo {
  padding-top: 0px;
  overflow-x: hidden;
  height: 100vh;
}

.jumbo .container-fluid {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("@/assets/images/bgJumbo1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(0.5px);
  transition: 0.5s;
}

.jumbo .container-fluid:hover {
  filter: blur(0);
}

.jumbo .container-fluid .row {
  height: 100%;
}

.jumbo .container-fluid .row .colomn-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbo .container-fluid .imageJumbo {
  width: 420px;
  position: relative;
  bottom: 0;
  transition: 0.6s;
}

.jumbo .container-fluid .imageJumbo.animateImg {
  bottom: 100%;
}

.jumbo .container-fluid .imageJumbo:hover {
  animation: hoverTransform 300ms forwards;
}

.jumbo .container-fluid .row .colomn-2 {
  display: flex;
  justify-content: start;
  align-items: center;
}

.jumbo .container-fluid .row .colomn-2 div {
  border-radius: 3px;
}

.jumbo .container-fluid .row .colomn-2 div .textHeadJumbo {
  position: relative;
  width: 100%;
  color: yellow;
  font-family: sans-serif;
  text-transform: capitalize;
  font-weight: 800;
  font-size: 2.5rem;
  transform: rotate(-4deg);
  text-shadow: 5px 5px #ff0000;
  transition: 0.6s;
}

.jumbo .container-fluid .row .colomn-2 div .textHeadJumbo:hover {
  cursor: grabbing;
  transform: rotate(-5deg);
}

.jumbo .container-fluid .row .colomn-2 .textJumbo {
  background-color: rgba(30, 30, 30, 0.59);
  border-bottom: 1px solid white;
  padding: 15px;
  margin-top: 2rem;
  color: white;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: courier;
  font-weight: 500;
}

.jumbo .container-fluid .iconleftFeater {
  cursor: pointer;
  color: white;
  position: absolute;
  z-index: 9999;
  top: 45%;
  left: 0;
}

.jumbo .container-fluid .iconRigthFeater {
  cursor: pointer;
  color: white;
  position: absolute;
  z-index: 9999;
  top: 45%;
  right: 0;
}

.jumbo .container-fluid .iconleftFeater:hover,
.jumbo .container-fluid .iconRigthFeater:hover {
  color: white;
  background-color: rgb(89, 35, 35);
  transition: 400ms;
}

/* img jumbo */
@keyframes fade-inn {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(0, -800px);
  }
}

/* img jumbo hover */
@keyframes hoverTransform {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.15);
  }
}

/* slide jumbo */
@keyframes fade-out {
  from {
    transform: translate(0, -800px);
  }
  to {
    transform: translate(0);
  }
}

@keyframes text-content1-iklan {
  to {
    transform: translate(100%, 0);
  }
}
