/* navbar */
body .navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
}

.navbar .container-fluid {
  position: relative;
}

/* Menu */
.navbar .container-fluid .collapse ul li {
  text-align: start;
}

.navbar #navbarSupportedContent ul li .a {
  text-decoration: none;
  font-size: 1rem;
  padding: 8px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  margin-left: 10px;
  transition: 0.3s;
}

.navbar #navbarSupportedContent ul li .a:hover {
  padding: 5px;
}

/* Shopping-cart */
.navbar .container-fluid #shopping-cart-btn {
  position: absolute;
  top: 10%;
  right: 1%;
}

.navbar .container-fluid #shopping-cart-btn .iconsShopping_Cart {
  color: rgb(0, 207, 14);
}

.navbar .container-fluid #shopping-cart-btn .quantity-badge {
  position: absolute;
  background-color: blue;
  color: white;
  border-radius: 5px;
  top: 100%;
  left: -20%;
  padding: 1px 5px;
}

/* Keranjang */
.navbar .container-fluid .keranjangSlide {
  border-top-left-radius: 1rem;
  background-color: rgba(33, 33, 33, 0.8);
  position: absolute;
  padding: 10px;
  top: 100%;
  right: 0%;
  width: 400px;
  height: 600px;
  overflow-y: scroll;
  transition: 200ms;
  color: white;
}

.navbar .container-fluid .keranjangSlide h3 {
  text-align: center;
}

.navbar .container-fluid .keranjangSlide h4 {
  padding: 10px 0;
}

.navbar .container-fluid .keranjangSlide .items {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px dashed rgb(255, 255, 255);
}

.navbar .container-fluid .keranjangSlide .items img {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 1.5rem;
}

.navbar .container-fluid .keranjangSlide .items .text h1 {
  text-transform: capitalize;
  font-size: 1.5rem;
}

/* ! slider_KERANJANG */
/* ! button disable */
/* jika class .checkout-button.disable */
.navbar
  .container-fluid
  .keranjangSlide
  .form-container
  .checkout-button.disabled {
  cursor: not-allowed;
}

.navbar .container-fluid .keranjangSlide .items #add,
.navbar .container-fluid .keranjangSlide .items #remove {
  display: inline-block;
  font-size: 1.1rem;
  color: white;
  background-color: black;
  padding: 0 3px;
}

.navbar .container-fluid .keranjangSlide.keranjangActive {
  transform: translate(0);
}
