@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

@import url("./styleCss/navbar/navbar.css");
@import url("./styleCss/jumbotron/jumbotron.css");
@import url("./styleCss/jumbotron/jumbotronResponsive.css");
@import url("./styleCss/content1/content1.css");
@import url("./styleCss/content1/content1Responsive.css");
@import url("./styleCss/product/product.css");
@import url("./styleCss/product/productResponsive.css");
@import "./styleCss/kontak.css";
@import "./styleCss/footer.css";

@import url("./styleCss/sweetAlert/sweet.css");

:root {
  --primary-color: #3498db;
  --white-color: #fff;
  --secondary-color: #494949;
  --spacing: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ff5a01;
}

body .container-body {
  min-height: 100vh;
}
