@import url("./styleCss/navbar/navbar.css");
@import url("./styleCss/navbar/navbarResponsive.css");
@import url("./styleCss/jumbotron/jumbotron.css");
@import url("./styleCss/jumbotron/jumbotronResponsive.css");
@import url("./styleCss/content1/content1.css");
@import url("./styleCss/content1/content1Responsive.css");
@import url("./styleCss/product/product.css");
@import url("./styleCss/product/productResponsive.css");
@import "./styleCss/kontak.css";
@import "./styleCss/footer.css";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ff5a01;
}

body .container-body {
  min-height: 100vh;
}
